@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family:'Cabin',Arial,sans-serif;
}

p{
	font-size: 14px;
	color: #555;
}

.container{
	padding-top: 30px;
}

.mycontainer {
	margin-top: 30px;
	padding-left: 15px;
}

a {
	color: black;
	text-decoration: none;

}

a:hover{
	text-decoration: none;
		color:red;
}

a h2{
	margin-top: 15px;
	font-size: 1rem;
	transition: all 0.5s;
}

/*nav{
	position: fixed;
}*/
nav p{
	margin-top: 0.5rem;
	font-size: 0.8rem;
	line-height: 1.5rem;
	color:#555;
}

nav .bar{
	margin-top: 1rem;
}

nav .bar a{
	width: 1rem;
	margin-top: 1rem;
	font-size:0.8rem;
	font-weight: ultra-condensed;
}

.footer{
	margin-top: 7rem;
	font-size: 0.8rem;
}

.footer p{
	margin: 0;
	margin-top: 0.5rem;
}

.footer .images a{

	margin-right: 20px;
}

.footer a:hover{
	color: black;
	text-decoration: underline;
}

.buffer{
	/*width: 1rem;*/
}




.section_{
	display: flex;

	flex-wrap: wrap;

}
.card{
	margin: 0;
	margin-bottom: 20px;
	border: none;

	justify-content: space-between;
	align-self:center;
	transition: all 1s;


}
.card .card-img-overlay{
	display: none;
/*	width: 300px;
	height: 200px;*/
/*	width: 342px;
	height:100%;
	min-height:228px;
	max-height:513px;*/
}



.aboutcontent{
	margin-bottom: 30px;
}

.baner img{

	width: 510px;
	height: 760px;

}

.content {
	margin-left: 2rem;
	padding-top: 1.7rem;

}


.content h2{
	font-size: 25px;
}

.content h1{
	font-size: 44px;
}

.content p {
	font-size: 14px;
	color: #555;
}

.content h1,h2,p{
	margin-bottom: 20px;
}

.btn{
	border-radius: 300px;
	color: #fff;
    background-color: #ff6360;
    border-color: #ff6360;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.78;
    border-radius: 50px;
}

.btn:hover{
	border-color: #ff0500;
	background-color: #ff0500;
}


.services-text{
	width: 700px;
}

.cards .card {
	margin-right: 50px;
	margin-top: 0;
	padding-top: 1rem;
}

.cards .card img{
	height: 220px;
	width: 330px;
}

.cards .card h2{
	font-size: 33px;
}

.contacts{
		margin-top: 2rem;

}

.contacts-form{
	width: 520px;

}


.form-group .form-control{
	border-color: black;
	border-radius: 2px;
	vertical-align: center;
	font-size: 14px;
	padding-left: 20px;
}

.form-group .btn{
	margin-top: 1rem;
	font-size: 18px;
	width: 100px;
}

.contacts-data{
	margin-left: 30px;
	margin-top: 10px;
}

.contacts-data i{
	margin-left: 10px;
}

.contacts-data i p{
	margin-left: 10px;
}

.contacts-data h2{
	margin-top: 5px;
}

.social {
	margin: 0;
	margin-left: 10px;
}

.social i{
	margin: 0;
	margin-right: 15px;
}